CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
# IBM Cloud CLI config
.bluemix

# Terraform automation
automation
.terraform
terraform.tfstate
*.tfstate*

# Binaries
ibmcloud
oc
terraform

# Logs
logs

# Ignore any .tfvars files that are generated automatically for each Terraform run.
*.tfvars
!tf/add-openstack-workers/var.tfvars

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*
