interface=eth0
except-interface=lo
bind-dynamic
log-dhcp

server=${resolver_ip}

%{ for index,worker in details}
dhcp-range=${worker.ip_address},${worker.ip_address},12h
dhcp-host=${worker.mac_address},px-worker-${index},${worker.ip_address}
%{ endfor }
